.icons-sprite, #logo::before, nav > ul > :last-child > a::before, #place_holder_1 > ul > :first-child::before, #place_holder_1 > ul > :nth-child(2)::before, #place_holder_1 > ul > :nth-child(3)::before, #place_holder_1 > ul > :last-child::before, #place_holder_2::before, .imitation_select > ul > li:hover::before {
  background-image: url('/IFE2016/Step1_Task7/images/icons-s96b180011e.png');
  background-repeat: no-repeat;
}

.pics-sprite {
  background-image: url('/IFE2016/Step1_Task7/images/pics-s75b87da395.png');
  background-repeat: no-repeat;
}

body {
  /*
  *	In order to improve the performance of font
  * with win10, I use 'Apple LiGothic Medium' instead of SimHei.
  */
  font-family: SimHei, 'Apple LiGothic Medium', 'Microsoft YaHei';
  margin: 0;
}

a {
  text-decoration: none;
  color: #393939;
}

h1, h2, h3, h4, h5, h6, b, span, p {
  cursor: default;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  margin: 0;
  padding: 0;
  cursor: default;
}

#inner_container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 1280px;
  max-width: 1440px;
  z-index: 2;
  overflow: hidden;
}
#inner_container > div {
  width: 100%;
  overflow: hidden;
}

#logo {
  display: inline-block;
  float: left;
  padding-left: 3.98437%;
  width: 9.53125%;
  height: 57px;
}
#logo::before {
  display: inline-block;
  content: "";
  margin-top: 13px;
  padding-right: 4px;
  width: 31px;
  height: 31px;
  background-position: 0 0;
  background-size: 31px;
}
#logo > span {
  display: inline-block;
  position: relative;
  top: -8px;
  left: 0.85938%;
  font-size: 21px;
  cursor: pointer;
}

nav {
  display: inline;
}

nav > ul {
  float: right;
  padding-right: 3.90625%;
  width: 43.125%;
  overflow: hidden;
}
nav > ul > li {
  float: left;
  margin-left: 0.70313%;
  margin-right: 0.70313%;
  height: 57px;
  font-size: 14px;
  line-height: 48px;
}
nav > ul > li > a {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  height: 57px;
  color: #808080;
}
nav > ul > li > a:hover {
  height: 54px;
  color: #E74F4D;
  border-bottom: 3px solid #E74F4D;
}
nav > ul > li > a > img {
  position: relative;
  top: 3px;
}
nav > ul > :first-child > a {
  height: 54px;
  color: #E74F4D;
  border-bottom: 3px solid #E74F4D;
}
nav > ul > :last-child > a {
  color: #E74F4D;
}
nav > ul > :last-child > a::before {
  display: inline-block;
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 17px;
  background-position: 0 -259px;
}

#banner_0 {
  position: absolute;
  top: 57px;
  width: 100%;
  height: 690px;
  background-color: black;
  overflow: hidden;
  z-index: 1;
}
#banner_0 > img {
  position: relative;
  top: -2px;
  width: 100%;
  min-width: 1280px;
  border: 0;
  opacity: 0.8;
}

#place_holder_0 {
  height: 690px;
}
#place_holder_0 > p {
  position: relative;
  margin: 0;
  padding-top: 207px;
  padding-left: 9.0625%;
  font-family: 'Microsoft YaHei';
  color: white;
}
#place_holder_0 > p > b {
  font-weight: normal;
  font-size: 60px;
  line-height: 90px;
}
#place_holder_0 > p > span {
  padding-left: 0.3125%;
  font-size: 21px;
  line-height: 34px;
}

#button_0 {
  position: relative;
  margin-top: 60px;
  margin-left: 9.6875%;
  width: 25.78125%;
  height: 63px;
  border: 0;
  background-color: #E74F4D;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
  cursor: pointer;
}

#place_holder_1 {
  height: 250px;
}
#place_holder_1 > ul {
  width: 100%;
  overflow: hidden;
}
#place_holder_1 > ul > li {
  float: left;
}
#place_holder_1 > ul > li::before {
  content: "";
  display: block;
  margin: 46px auto 40px;
  width: 42px;
  height: 42px;
  background-position: center;
}
#place_holder_1 > ul > li > p {
  height: 52px;
  border-right: 1px solid #999999;
  font-size: 14px;
  line-height: 19px;
  color: #767777;
  text-align: center;
}
#place_holder_1 > ul > :first-child {
  width: 25.23437%;
}
#place_holder_1 > ul > :first-child::before {
  background-position: 0 -96px;
}
#place_holder_1 > ul > :nth-child(2) {
  width: 26.01562%;
}
#place_holder_1 > ul > :nth-child(2)::before {
  background-position: 0 -171px;
}
#place_holder_1 > ul > :nth-child(3) {
  width: 24.45313%;
}
#place_holder_1 > ul > :nth-child(3)::before {
  background-position: 0 -215px;
}
#place_holder_1 > ul > :last-child {
  width: 305px;
}
#place_holder_1 > ul > :last-child::before {
  background-position: 0 -309px;
}
#place_holder_1 > ul > :last-child > p {
  border: none;
}

#banner_2 {
  position: absolute;
  top: 997px;
  width: 100%;
  height: 360px;
  background-color: #EDEDED;
}

#banner_3 {
  position: absolute;
  top: 1357px;
  width: 100%;
  height: 340px;
  background-color: #AA3433;
}
#banner_3 > img {
  width: 100%;
  opacity: 0.8;
}

#banner_4 {
  position: absolute;
  top: 1697px;
  width: 100%;
  height: 605px;
  background-color: #F8F8F8;
}

#place_holder_2 {
  height: 360px;
}
#place_holder_2::before {
  display: block;
  content: "";
  margin: 90px auto 43px;
  width: 91px;
  height: 92px;
  background-position: 0 0;
}
#place_holder_2 > p {
  margin: 0;
  font-family: 'SimHei';
  font-size: 53.6px;
  text-align: center;
  color: #A1A1A1;
}

#place_holder_3 {
  position: relative;
  height: 340px;
  font-family: "Microsoft Yahei";
  overflow: visible !important;
  z-index: 2;
}
#place_holder_3 > :first-child {
  margin-top: 50px;
  margin-bottom: 11px;
  font-size: 21px;
  color: white;
  text-align: center;
}
#place_holder_3 > :nth-child(3) {
  margin-top: 12px;
  margin-bottom: 50px;
  color: white;
  font-size: 12px;
  text-align: center;
}

form[name="location"] {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 1px;
  width: 1028px;
  z-index: 1;
  overflow: hidden;
}
form[name="location"] > :last-child {
  margin-right: 0;
}

.imitation_select {
  float: left;
  width: 236px;
  height: 36px;
  margin-right: 28px;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
}
.imitation_select:hover {
  position: relative;
  margin-right: 26px;
  top: -1px;
  left: -1px;
  height: auto;
  width: 236px;
  border: 1px solid #BE4E48;
  border-bottom: none;
}
.imitation_select > p {
  display: inline-block;
  margin: 0;
  width: 201px;
  color: #A8AAAA;
  font-size: 12px;
  text-indent: 11px;
  line-height: 36px;
}
.imitation_select > div {
  position: relative;
  float: right;
  width: 19px;
  height: 19px;
  top: 8px;
  right: 8px;
  line-height: 19px;
  text-align: center;
  font-family: LiSu;
  font-size: 16px;
  font-weight: bolder;
  color: white;
  transform: rotate(90deg);
  background-color: #BE4E48;
  cursor: pointer;
}
.imitation_select > ul {
  margin: 0;
  padding: 0;
  padding-bottom: 6px;
  width: 236px;
  border-bottom: 1px solid #BE4E48;
  background-color: #E3E3E5;
}
.imitation_select > ul > li {
  padding-left: 9px;
  width: 227px;
  height: 26px;
  font-size: 12px;
  text-indent: 28px;
  line-height: 26px;
  color: #89898A;
  cursor: pointer;
}
.imitation_select > ul > li:hover {
  text-indent: 0;
  background-color: #BE4E48;
  color: white;
}
.imitation_select > ul > li:hover::before {
  display: inline-block;
  position: relative;
  top: 2px;
  padding-left: 9px;
  padding-right: 19px;
  width: 0px;
  height: 12px;
  content: "";
  background-position: -79px -353px;
}

#search {
  width: 236px;
  height: 36px;
  border: 0;
  background-color: #BE4E48;
  font-size: 14px;
  letter-spacing: 22px;
  text-indent: 22px;
  color: white;
}

#place_holder_4 {
  height: 605px;
}

.hidden_area {
  display: none;
}

.std_underline {
  margin: 0 auto;
  width: 30px;
  height: 2px;
}

.white {
  background-color: white;
}

.brown_red {
  background-color: #BE4E48;
}
