@import "compass/utilities/sprites";

@function remp($px) {
    @return ($px / 16) +  rem;
}
@function p($px1, $px2) {
    @return ($px1 / $px2) * 100%;
}

$icons: sprite-map("icons/*.png", $layout: row, $spacing: 10px);
$theme-blue: #91d4da;
$border-gray: #e5e5e5;
$margin-holder: (100% - 355/375 * 100%) / 2;

@mixin gray-bg ($height) {
    display: block;
    width: 100%;
    background-color: #f5f5f5;
    height: $height;
}

.icons-base {
    background: $icons no-repeat;
}

.margin-holder {
    margin-left: $margin-holder !important;
    margin-right: $margin-holder !important;
}

.padding-holder {
    padding-left: $margin-holder !important;
    padding-right: $margin-holder !important;
}

.post-date {
    span {
        font-size: remp(13);
        color: #c0c0c0;
        &:nth-child(2)::before {
            content: "";
            display: inline-block;
            padding-left: remp(6);
        }
    }
}

.clear-float {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

html {
    font-size : 16px;
}
@media only screen and (min-width: 401px) {
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px) {
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px) {
    html {
        font-size: 30px !important; 
    }
}
@media only screen and (min-width: 569px) {
    html {
        font-size: 35px !important; 
    }
}
@media only screen and (min-width: 641px) {
    html {
        font-size: 40px !important; 
    }
}

body {
    margin: 0;
    font-family: 
        SimHei,
        "Hiragino Sans GB",
        "Microsoft YaHei",
        "WenQuanYi Micro Hei",
        sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


header {
    height: remp(43);
    background-color: $theme-blue;
    font-size: remp(18);
    line-height: remp(41);
    text-align: center;
    letter-spacing: remp(2);
    color: white;
    div {
        position: absolute;
        left: remp(11);
        height: inherit;
        line-height: remp(41);
        background-color: transparent;
        &::before {
            content: "<";
            display: inline-block;
            position: relative;
            padding-right: remp(0);
            top: remp(1);
            font-size: remp(18);
            font-family: "Letter Gothic Std";
        }
    }
}

.full-flex {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch; 
}

nav {
    @extend .full-flex;
    a {
        flex: 1 0 auto;
        height: remp(36);
        font-size: remp(15);
        text-align: center;
        line-height: remp(36);
        letter-spacing: remp(1);
        color: #666;
        &.on {
            height: remp(33);
            border-bottom: remp(3) solid $theme-blue;
        }
    }
}

#scroll_image {
    width: 100%;
}

#tags {
    @extend .full-flex;
    li {
        flex: 1 0 auto;
        padding-top: remp(17);
        height: remp(93);
        a {
            display: block;
            margin: 0 auto;
            width: remp(60);
            height: remp(80);
            text-align: center;
            line-height: remp(44);
            color: black;
            &::before {
                @extend .icons-base;
                @include sprite-background-position($icons, tags_bg, p(-8, 40), p(4, 40));
                content: "";
                display: block;
                margin: 0 auto;
                height: remp(40);
                width: remp(40);
                border-radius: 100%;
                background-color: #00c1d2;
            }
        }
    }
}

#columns {
    @extend .margin-holder;
    margin: 0 auto;
    padding-top: remp(14);
    padding-bottom: remp(16);
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    border-top: remp(2) solid $border-gray;
    li {
        flex: 1 0 auto;
        height: remp(128);
        border-right: remp(1) solid $border-gray;
        &:last-child {
            border-right: 0;
        }
        a {
            padding-top: remp(80);
            text-align: center;
            &::before {
                @extend .icons-base;
                display: block;
                content: "";
                margin: 0 auto;
                overflow: hidden;
            }
            h3 {
                line-height: remp(30);
            }
            p {
                line-height: remp(20);
            }
        }
        &:first-child a::before {
            @include sprite-background-position($icons, subjects_1);
            @include sprite-dimensions($icons, subjects_1);
        }
        &:nth-child(2) a::before {
            @include sprite-background-position($icons, subjects_2);
            @include sprite-dimensions($icons, subjects_2);
            margin-top: remp(2);
            margin-bottom: remp(4);
        }
        &:last-child a::before {
            @include sprite-background-position($icons, subjects_3);
            @include sprite-dimensions($icons, subjects_3);
            margin-top: remp(11);
            margin-bottom: remp(7);
        }
    }
}

.gap-13 {
    @include gray-bg(remp(13));
}

.text-modules {
    @extend .margin-holder;
    @extend .clear-float;
    p {
        margin-bottom: remp(12);
        font-size: remp(18);
        line-height: remp(42);
        border-bottom: remp(2) solid $border-gray;
    }
    div {
        padding-bottom: remp(10);
        img {
            width: remp(92);
            height: remp(87);
            &:first-child {
                margin-bottom: remp(10);
            }
        }
        a {
            flex: 1 0 auto;
            margin-right: remp(12);
            margin-bottom: remp(12);
            min-width: 40%;
            height: remp(38);
            line-height: remp(37);
            font-size: remp(15);
            text-align: center;
            background-color: #f8f8f8;
            &:nth-child(even) {
                margin-right: 0;
            }
            &:nth-last-child(1), &:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
        &:nth-of-type(1) {
            display: inline-block;
            float: left;
            padding-right: remp(8);
            width: remp(95);
        }
        &:last-child {
            display: -webkit-flex;
            display: flex;
            flex-flow: row wrap;
            float: left;
            width: remp((355 - 88));
        }
    }
}

.gap-50 {
    @include gray-bg(remp(50));
}

#articles {
    li {
        @extend .padding-holder;
        @extend .clear-float;
        padding-top: remp(8);
        padding-bottom: remp(6);
        border-bottom: remp(2) solid #f1f1f1;
        a:first-child {
            display: inline-block;
            float: left;
            padding-right: remp(7);
        }
        div {
            display: -webkit-flex;
            display: flex;
            flex-flow: row wrap;
            align-content: space-between;
            float: left;
            width: remp((355 - 115));
            height: remp(80);
            a {
                flex: 1 0 auto;
                width: remp(200);
                height: remp(42);
                font-size: remp(18);
                line-height: remp(21);
                overflow: hidden;
            }
            div {
                display: -webkit-flex;
                display: flex;
                height: auto;
                flex-flow: row nowrap;
            }
        }
    }
}

#daily-pic {
    @extend .padding-holder;
    padding-bottom: remp(5);
    a {
        display: block;
        width: 100%;
        &:first-child {
            height: remp(40);
            font-size: remp(18);
            line-height: remp(40);
            overflow: hidden;
        }
        img {
            margin-right: remp(0);
            width: remp(((355 - 4)/3));
            &:last-child {
                margin-right: 0;
            }
        }
    }
}