body { /*
*	In order to improve the performance of font
* with win10, I use 'Apple LiGothic Medium' instead of SimHei.
*/ font-family: 'Apple LiGothic Medium', 'Microsoft YaHei', SimHei; margin: 0; }

a { text-decoration: none; color: #393939; }

h1, h2, h3, h4, h5, h6, b, span, p { cursor: default; }

ul { margin: 0; padding: 0; list-style: none; }
ul li { margin: 0; padding: 0; cursor: default; }

#inner_container { position: relative; margin: 0 auto; width: 100%; min-width: 1280px; max-width: 1440px; z-index: 2; overflow: hidden; }
#inner_container > div { width: 100%; overflow: hidden; }

#logo { display: inline-block; float: left; padding-left: 3.98437%; width: 9.53125%; height: 57px; }
#logo > img { padding-top: 13px; width: 31px; height: 31px; }
#logo > span { display: inline-block; position: relative; top: -6px; left: 0.85938%; font-size: 21px; cursor: pointer; }

nav > ul { float: right; padding-right: 3.90625%; width: 43.125%; overflow: hidden; }
nav > ul > li { float: left; margin-left: 0.70313%; margin-right: 0.70313%; height: 57px; font-size: 14px; line-height: 46px; }
nav > ul > li > a { display: inline-block; padding-left: 1em; padding-right: 1em; height: 57px; color: #808080; }
nav > ul > li > a:hover { height: 54px; color: #e74f4d; border-bottom: 3px solid #e74f4d; }
nav > ul > li > a > img { position: relative; top: 3px; }
nav > ul > :first-child > a { height: 54px; color: #e74f4d; border-bottom: 3px solid #e74f4d; }
nav > ul > :last-child > a { color: #e74f4d; }

#banner { position: absolute; top: 57px; width: 100%; height: 690px; background-color: black; overflow: hidden; z-index: 1; }
#banner > img { position: relative; top: -2px; width: 100%; min-width: 1280px; border: 0; opacity: 0.8; }

#place_holder_0 { height: 690px; }
#place_holder_0 > p { position: relative; margin: 0; padding-top: 207px; padding-left: 9.0625%; font-family: 'Microsoft YaHei'; color: white; }
#place_holder_0 > p > b { font-weight: normal; font-size: 60px; line-height: 90px; }
#place_holder_0 > p > span { padding-left: 0.3125%; font-size: 21px; line-height: 34px; }

#place_holder_1 { height: 250px; }

button { position: relative; margin-top: 60px; margin-left: 9.6875%; width: 25.78125%; height: 63px; border: 0; background-color: #e74f4d; font-size: 30px; letter-spacing: 2px; color: white; text-align: center; cursor: pointer; }
